* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.content {
  width: 100vw;
  height: 98vh;
  display: flex;
  justify-content: flex-end;
  gap: 20%;
  background-image: url("/images/bg-pattern-desktop.svg");
}
.hero {
  display: none;
}
.desktop-left {
  text-align: start;
  margin-top: 3rem;
  /* margin-left: 8rem; */
}
.logo {
  margin-bottom: 5rem;
}
.desktop-right img {
  height: 99vh;
}
.text {
  font-size: 3rem;
  letter-spacing: .5rem;
  margin-bottom: 1rem;
}
.we-are {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
.description {
  color: hsl(0, 36%, 70%);
  width: 400px;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.email {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  border: 1px solid hsl(0, 36%, 70%);
}
.image {
  background-color: hsl(0, 36%, 70%);
  background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: .8rem 2.5rem;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input[type=email] {
  color: hsl(0, 36%, 70%);
  border: none;
  outline: none;
  padding: 1rem;
  padding-right: 4rem;
  border-radius: 30px;
}
::placeholder {
  color: hsl(0, 36%, 70%);
}

/* Mobile */
@media (max-width: 400px) {
  .content {
    width: 100vw;
  }
  .desktop-left {
    width: 90%;
    margin-top: 1.5rem;
  }
  .desktop-right {
    display: none;
  }
  .content {
    display: block;
  }
  .hero {
    display: block;
  }
  .hero img {
    width: 100vw;
  }
  .logo {
    margin-bottom: 1.5rem;
  }
  .logo img {
    width: 100px;
    margin-left: 1.5rem;
  }
  .text {
    text-align: center;
    margin-top: 2.5rem;
  }
  .description {
    text-align: center;
    width: 80vw;
    justify-content: center;
    margin: 1.5rem auto;

  }
  .email {
    width: 80vw;
    margin: .2rem auto;
  }
  .image {
    padding: .6rem 1.5rem;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  input[type=email] {
    padding: .6rem;
    padding-right: 2rem;
  }

}